/* body{
    color:indigo;
    background-color: aqua

} */

h1,.header{
    text-align:center
}
.mainlogo{
    max-width: 400px;
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#myPage {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
body {
  /* background-color: #fefefe;
  background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%); */
    font: 400 15px Lato, MyWebFont;
    line-height: 1.8;
   
    /* //color: #818181; */
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .smalllogo{
      max-width:100px
  }
  .water {
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    /* background-color: #06bcfb;
background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%); */
   
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #130c47;
}
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #4d94ff;
    font-size: 200px;
  }
  .danger{
    color:red;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color:#100747;
    top: 157px;
  }
  .carousel-indicators li {
    border-color: #100747;
  }
  .carousel-indicators li.active {
    background-color: #100747;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color:#61c7ee !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #61c7ee;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      font-family: BatmanForeverAlternate;
    color: #130c47 !important;
   padding: 15px 0px 15px 15px;
  }
  .navbar-brand {
      font-family: BatmanForeverAlternate;
      color: #130c47 !important;
      padding: 15px 0px 15px 15px;
  }
  .supportlogo{
    max-width: 20px;
    position: absolute;
    top: 12px;
  }
  .subtitle{
    font-family: Lato;
  }
  
  .carouselcard{
    height:400px;
    width:300px;
    display: initial !important
  }
    .navbar-toggle:hover{

        background-color: #10aae6 !important;
        /* &:hover{
            background-color: #10aae6 !important;

        }
        */
      }
      .navbar-toggle:focus{
        background-color: #10aae6 !important;
      }
    
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: indigo !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .mainlogo{
      max-width: 300px;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }